@import "../../styles/helpers/variables/variables";
@import "../../styles/helpers/mixins/mixins";

.poster {
	background-color: var(--dark-bg);
	border-radius: 8px;
	height: 100%;
	grid-area: auto / span 8;
	@include lg {
		grid-area: auto / span 9;
	}

	h1 {
		text-transform: uppercase;
		letter-spacing: 0.1em;
		text-align: justify;
		font-weight: 900;
		font-size: 1.8rem;
		color: var(--light-bg);
		// Large devices (desktops, 992px and up)
		@include sm {
			font-size: 3.6rem;
		}
		@include md {
			font-size: 3rem;
		}
		@media (min-width: 992px) {
			font-size: 5.1rem;
		}

		// X-Large devices (large desktops, 1200px and up)
		@media (min-width: 1200px) {
			font-size: 6.2rem;
		}

		// XX-Large devices (larger desktops, 1400px and up)
		@media (min-width: 1400px) {
			font-size: 7.3rem;
		}
	}
}
.wrapper {
	padding: 0 2rem 2rem 2rem;
}
.content {
	h3 {
		color: var(--secondary);
		text-transform: uppercase;
		font-size: 0.8em;

		@include sm {
			font-size: 1rem;
		}
	}
	div {
		text-transform: uppercase;
		font-size: 1.2rem;

		line-height: 100%;
		@include sm {
			font-size: 1.8rem;
		}
		@include md {
			font-size: 1.6rem;
		}
	}
	button {
		margin-top: 2rem;
	}
}
.img {
	position: relative;

	display: none;
	@include sm {
		display: block;
	}
	img {
		// position: absolute;
		object-fit: cover;
		object-position: center;
		width: 100%;
		transform: rotate(-20deg);
	}
}
