@import "../../styles/helpers/mixins/mixins";
@import "../../styles/helpers/variables/variables";

.section {
	@include md {
		grid-area: auto / span 8;
	}
	@include lg {
		grid-area: auto / span 9;
		display: grid;

		grid-template-columns: repeat(2, 1fr);
	}

	gap: 1rem;
	background-color: var(--dark-bg);
	padding: 1rem;
	border-radius: 8px;
}
.images {
	@include md {
		display: grid;
		grid-template-columns: 3fr 1fr;
		gap: 1rem;
	}

	&__main_img {
		margin-bottom: 1rem;
		position: relative;
		min-height: 240px;
		img {
			position: absolute;
		}
	}
	img {
		object-fit: cover;
		object-position: center;
		width: 100%;
		height: 100%;
		border-radius: 8px;
	}
	&__imgs {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(3, 1fr);
		margin-bottom: 1rem;

		@include md {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3, 1fr);
		}

		img {
			cursor: pointer;
			&:hover {
				box-shadow: 0 0 15px 3px var(--accent);
			}
		}
	}
	&__img_item {
		position: relative;
		min-height: 80px;

		img {
			position: absolute;
		}
	}
}
.body {
	display: grid;
	h1 {
		font-size: 2rem;
	}
	.description {
		color: var(--secondary);
	}
	.sizes {
		display: flex;
		&__active {
			background-color: var(--accent);
			border-radius: 50%;
		}
		span {
			flex-basis: 40px;
			text-align: center;
			align-self: self-start;
			cursor: pointer;
			transition: 0.3s;
			&:hover {
				background-color: var(--accent);
				border-radius: 50%;
			}
		}
	}
	.buttons {
		margin: 1rem 0;
		@include lg {
			margin: 0;
		}
		button {
			display: block;
			width: 100%;
			margin-bottom: 1rem;

			@include sm {
				width: unset;
				display: unset;
				margin-bottom: unset;
				margin-right: 1rem;
			}
		}
		button:last-child {
			background-color: var(--secondary);
			transition: 0.3s;
			&:hover {
				background-color: var(--accent);

				color: var(--primary);
			}
		}
	}
}
